# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
pet-runs/

# Visual Studio / Rider / IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# OS files
.DS_Store
Thumbs.db

# Unity cache/state
sysinfo.txt
memorycapturedump.*
crashlytics-build.properties

Assets/Layer Lab/
Assets/Sprite Shaders Ultimate/
Assets/Layer Lab.meta
Assets/Sprite Shaders Ultimate.meta
